.Category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.Searchimage{
    width: 10px;
}
.Cath{
    color: #01B1B1;
   
    
}

.Underline{
    background-color: rgb(62, 55, 55);
    width: 60px;
    height: 1px;
    margin-bottom: 30px;
    margin-top: -15px;
}

.Catin{
    width: 40%;
    height: 30px;
    border-radius: 20px;
}