.Discover-main{
    display:grid;
    grid-template-columns: 40% 40% ;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%; 
}
.Discover{
        vertical-align: middle;
        margin-right: 10px;
}
.Arrow1{
    display: grid;
    grid-template-columns: 5 1fr;
    width: 10%;
    height: 10%;
    position: relative;
    top: 40px;
    justify-content: space-between;
    margin-bottom: 90px;
    margin-left: 60%;

  }