.cardParant {
    width: 90%;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-left: 5%;
    padding-right: 5%;
    grid-row-gap: 20px;
    
  }

.card{
    width:90%;
    height: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    
}
.card img{
    width: 100%;
    
}
.card h3{
    margin: 10px 0;
    margin-left: 5px;
    font-size:20px;
    text-align: left;
    margin-bottom: -10px;
    
}
.card p{
    text-align: left;
    margin-left: 5px;

}
.rate-container{
    width: 150px;
    margin-bottom: -20px;
}

.offer-container{
   
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 40px;
}
.price span{
    margin: 5px;
}